.DS_Store

.idea/*

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

application/config/config.php
application/config/facebook_config.php

bower_components/*

uploads/*.jpg
uploads/delivery_note/*.jpg

debug.log